################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/caveCache/obj
/caveCache/bin/
/caveCache/confi.json
/caveCache/config.json
