################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/caveCache/obj
/caveCache/bin/
/caveCache/confi.json
/caveCache/config.json
/cave-data
/MongoDbModels/obj/Debug/MongoDbModels.csprojAssemblyReference.cache
/MongoDbModels/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MongoDbModels/bin/Debug
/packages
/MongoDbModels/obj/Debug/MongoDbModels.exe.config
