<div>
    <h1><span data-bind="text: Method"></span> location</h1>    
    <div class="content form">
            <div class="row">
                    <div class="col-md-2 right">
                        <label>ID #</label>
                    </div>
                    <div class="col-md-10">
                        <span data-bind="text: LocationId"></span>
                    </div>
                </div>
        <div class="row">
            <div class="col-md-2 right">
                <label>Capture Date</label>
            </div>
            <div class="col-md-10">
                <input data-bind="value: CaptureDate" type="date">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 right">
                <label>Latitude</label>
            </div>
            <div class="col-md-10">
                <input data-bind="value: Latitude" type="number" step="any">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 right">
                <label>Longitude</label>
            </div>
            <div class="col-md-10">
                <input data-bind="value: Longitude" type="number" step="any">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 right">
                <label>Altitude</label>
            </div>
            <div class="col-md-10">
                <input data-bind="value: Altitude" type="number">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 right">
                <label>Accuracy</label>
            </div>
            <div class="col-md-10">
                <input data-bind="value: Accuracy" type="number" class="col-md-10">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 right">
                <label>Altitude Accuracy</label>
            </div>
            <div class="col-md-10">
                <input data-bind="value: AltitudeAccuracy" type="number" class="col-md-10">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 right">
                <label>Unit</label>
            </div>
            <div class="col-md-10">
                <select class="col-md-10" data-bind="value: Unit">
                    <option value="0">Emperical</option>
                    <option value="1">Metric</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 right">
                <label>Source</label>
            </div>
            <div class="col-md-10">
                <input data-bind="value: Source" type="text" class="col-md-10">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 right">
                <label>Notes</label>
            </div>
            <div class="col-md-10">
                <textarea data-bind="value: Notes" class="col-md-10"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 right button-panel">
                <button data-bind="click: save">Save</button>
                <button data-bind="click: cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>