<div>
    <div>
        <h1>
            Cave:
            <span data-bind="text: Cave.Name"></span>(
            <span data-bind="text: Cave.CaveId"></span>)
        </h1>

        <div>
            <lable>Share</lable>
            <select data-bind="options: DeprivedUsers, optionsText: 'Name', value: SelectedUser, optionsCaption: 'Choose...'"></select>
            <button data-bind="click: shareCave">Share</button>
        </div>


        <div data-bind="text: Cave.Description"></div>
        <div id="map" class="show-cave-map">

        </div>
        <h2>Positional Data</h2>
        <div>
            <label>Coordinates:</label>
            <span data-bind="text: Cave.Latitude"></span>,
            <span data-bind="text: Cave.Longitude"> </span> +/-
            <span data-bind="text: Cave.Accuracy"></span>ft</div>
        <div>
            <label>Altitude:</label>
            <span data-bind="text: Cave.Altitude"></span>ft
        </div>
        <div class="cave-show-locations">
            <h3>All Locations</h3>
            <table class="table table-bordered table-sm">
                <thead class="thread-dark">
                    <tr>
                        <th>Active</th>
                        <th>Date</th>
                        <th>Lattitude</th>
                        <th>Longitude</th>
                        <th>Altitude</th>
                        <th>Accuracy</th>
                        <th>Source</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Cave.Locations">
                    <tr>
                        <td data-bind="text: $parent.isSelected($data)?'X':''"></td>
                        <td data-bind="text: CaptureDate"></td>
                        <td data-bind="text: Latitude"></td>
                        <td data-bind="text: Longitude"></td>
                        <td>
                            <span data-bind="text: Altitude"></span>
                            <span data-bind="text: ($data.Units === 'Metric')?'m':'ft'"></span>
                        </td>
                        <td>
                            <span data-bind="text: Accuracy"></span>
                            <span data-bind="text: ($data.Units === 'Metric')?'m':'ft'"></span>
                        </td>
                        <td data-bind="text: Source"></td>
                        <td data-bind="text: Notes"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>Data</h2>
        <div id="cave-data-grid"></div>

        <h2>Notes</h2>
        <div data-bind="foreach: Cave.Notes">
            <hr>
            <h3 data-bind="text: CreatedDate"></h3>
            <div class="notes" data-bind="html: Notes"></div>
        </div>
    </div>
    <a href="#" data-bind="click: returnToHome">Back</a>
</div>